/* le selecteur universel*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaisei Decol', 'Poppins';
}

/* le selecteur pour le menu*/
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    align-items: center;
}

.logo {
    width: 100px
}

/* le selecteur pour le banniére*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/haute-couture-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    
}

.links {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    font-family: 'Poppins.zip';
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
}

.accueil {
    color: #AB864C;
    font-family: 'Poppins.zip';
    text-align: center;
}

.black1 {
    color: black;
    text-align: center;
}

.main {
    border: #AB864C;
    background-color: white;
    opacity: 80%;
    margin: 15px 100px 15px 100px;
    font-family: 'Kaisei Decol';
    text-align: center;
}

.delicieux {
    border: solid 1px black;
    padding: 10px 20px 10px 30px;
    font-family: 'Poppins';
}

.signature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #AB864C;
    color: white;
}

.Sign-titre {
    text-align: center;
    font-family: 'Kaisei Decol';
}

.plat {
    width: 300px;
}

/* le selecteur pour le button*/

button {
    background-color: #AB864C;
    color: white;
    border: white;
    padding: 12px 6px 12px 6px;
    font-family: 'Poppins';
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0px 0px 0px;
}

.quote-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

hr {
    color: black;
}

.contacte-titre {
    font-family: 'Kaisei Decol';
    text-align: center;
}

.contacte-description {
    font-family: 'Poppins';
    text-align: center;
}

form{
     text-align: center;
}

.contacte {
    display: flex;
    flex-direction: column;                                                                                                                                                                                                                                                                        
    justify-content: center;
    align-items: center;
    text-align: center;                                                                                                                                   
}                                                                                        
            
.poche {
    width: 250px
}

.gateau-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

                                                   
.input-group-container{
    display: flex;
}

.gateau-description {
    font-family: 'Poppins';
    text-align: center;
}

.gateau-titre {
    font-family: 'Kaisei Decol';
    text-align: center;
}

.gateau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.histoire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
}

.histoire-titre {
    font-family: 'Kaisei Decol';
    text-align: center;
}

.histoire-description {
    font-family: 'Poppins';
    text-align: center;
}

.send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-svg{
    width:50px;
    text-align: center;
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-titre {
    font-family: 'Poppins';
}

.map-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AB864C;
    color: white;
}

.map-head {
    font-family: 'Kaisei Decol';
}

iframe {
    text-align: center;
    width: 100%;
}

/* le selecteur pour le footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
}



.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



address {
    font-family: 'Poppins';
    text-align: center;
}

.legal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px #AB864C;
    font-family: 'Poppins';
    text-align: center;
}

.icon {
    width: 10px;
}